.produto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

.preco {
    background-color: #91fb5d;
    color: #017e01;
    padding: 0.5rem;
    border-radius: 4px;
}

.descricao {
    font-size: 1.2rem;
    line-height: 1.2;
  }